.experience-eduction {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 80px 0;
}

.experience-container {
  max-width: 40%;
  /* margin: auto; */
  max-height: 1000px;
  background: rgb(3, 0, 44);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

}

h2 {
  text-align: center;
  color: rgb(255, 255, 50);
}

.experience-item {
  margin-bottom: 20px;
  padding: 15px;
  border-left: 5px solid rgb(255, 255, 50);
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
}

.experience-item:hover {
  background-color: rgb(39, 39, 39);
  transform: translateY(-2px);
}

.company {
  display: block;
  font-weight: bold;
  color: rgb(255, 255, 100);
}

.duration {
  display: block;
  font-size: 0.9em;
  color: rgb(255, 255, 255);
}

.description {
  margin-top: 10px;
  line-height: 1.6;
  color: #b7b7b7;
}

/* -----------Education------------ */
/* -------------------------------- */

.education-container {
  max-width: 40%;
  max-height: 1000px;
  /* margin: auto; */
  background: rgb(3, 0, 44);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  /* margin-top: 5%; */
}

h2 {
  text-align: center;
  color: rgb(255, 255, 50);
}

.education-item {
  margin-bottom: 20px;
  padding: 15px;
  border-left: 5px solid rgb(255, 255, 50);
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
}

.education-item:hover {
  background-color: rgb(39, 39, 39);
  transform: translateY(-2px);
}

.university {
  display: block;
  font-weight: bold;
  color: rgb(255, 255, 100);
}

.duration {
  display: block;
  font-size: 0.9em;
  color: rgb(255, 255, 255);
}

.description {
  margin-top: 10px;
  line-height: 1.6;
  color: #b7b7b7;
}
