/* Setting the box-size border-box */

* {
	box-sizing: border-box;
}

/* Styling the body section */

body {
	font: normal 1em/1.5 sans-serif;
}

/* Centering the page */

.wrapper {
	max-width: 60em;
	margin: 0 auto;
}

/* Styling the header */


/* MEDIA QUERY */

@media (min-width: 200px) and (max-width: 480px ) {
	.left {
		margin-top: 0;
		padding: .25em;
		text-align: center;
	}
	.right {
		font-size: 1.3em;
		margin-right: 2.9em;
		margin-left: 2.9em;
		padding: 0;
		text-align: center;
		text-decoration: none;
	}

	nav ul {
		margin: 0;
		padding: .10em;
	}

	li {
		background-color: rgba(148, 187, 255, 1.0);
		border-radius: 1em;
		margin-top: 1em;
		padding: .60em;
		list-style: none;
	}

	a {
		padding: 1em;
		text-decoration: none;
	}
}

@media (min-width: 481px) and (max-width: 768px) {

	.left {
		margin-top: 0;
		padding: .60em;
		text-align: center;
	}
	.right {
		background-color: rgba(148, 187, 255, 1.0);
		font-size: 1.4em;
		margin: 0;
		padding: 0;
		text-align: center;
	}

	ul {
		margin: 0;
		padding: 0;
	}

	li {
		display: inline;
	}

	a {
		display: inline-block;
		padding: 1em;
		text-decoration: none;
	}

}

@media (min-width: 769px) {
	header {
		padding: .35em;
		width: 100%;
	}

	.left{
		display: inline;
		margin-top: 0;
	}

	header,
	.right{
		display: inline-block;
	}

	.right{
		float: right;
		font-size: 1.5em;
	}

	ul {
		margin: 0;
		display: inline;
		padding-right: .15em;
	}

	ul li {
		display: inline-block;
		list-style: none;
		padding: .36em 0.9375em;
	}

	a {
		text-decoration: none;
	}
}​