.projects_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px 0;
}

.youtube{
    background: rgb(3, 0, 44);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


.portfolio{
    background: rgb(3, 0, 44);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


.website{
    background: rgb(3, 0, 44);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}