#menu {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 10px;
}

#menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

@media (max-width: 768px) {
    #menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px; /* Adjust based on your header height */
        right: 10px;
        background-color: #403D39;
        border: 1px solid #ccc;
        padding: 10px;
    }

    #menu-toggle {
        display: block;
    }
}

